<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.upc.eetac.dsa.dsaqt1314g4.netsound"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:logo="@drawable/logo"
        android:theme="@style/AppTheme" >
        <activity
            android:name="edu.upc.eetac.dsa.dsaqt1314g4.netsound.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="edu.upc.eetac.dsa.dsaqt1314g4.netsound.HomeActivity"
            android:label="@string/title_activity_home" >
        </activity>
        <activity
            android:name="edu.upc.eetac.dsa.dsaqt1314g4.netsound.SignUpActivity"
            android:label="@string/title_activity_sign_up" >
        </activity>
        <activity
            android:name="edu.upc.eetac.dsa.dsaqt1314g4.netsound.MyStingsActivity"
            android:label="@string/title_activity_my_stings"
            android:parentActivityName="edu.upc.eetac.dsa.dsaqt1314g4.netsound.HomeActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="edu.upc.eetac.dsa.dsaqt1314g4.netsound.HomeActivity" />
        </activity>
        <activity
            android:name="edu.upc.eetac.dsa.dsaqt1314g4.netsound.MySongsActivity"
            android:label="@string/title_activity_my_songs"
            android:parentActivityName="edu.upc.eetac.dsa.dsaqt1314g4.netsound.HomeActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="edu.upc.eetac.dsa.dsaqt1314g4.netsound.HomeActivity" />
        </activity>
        <activity
            android:name="edu.upc.eetac.dsa.dsaqt1314g4.netsound.MyPlaylistActivity"
            android:label="@string/title_activity_my_playlist"
            android:parentActivityName="edu.upc.eetac.dsa.dsaqt1314g4.netsound.HomeActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="edu.upc.eetac.dsa.dsaqt1314g4.netsound.HomeActivity" />
        </activity>
        <activity
            android:name="edu.upc.eetac.dsa.dsaqt1314g4.netsound.PublishStingActivity"
            android:label="@string/title_activity_publish_sting" >
        </activity>
        <activity
            android:name="edu.upc.eetac.dsa.dsaqt1314g4.netsound.SocialActivity"
            android:label="@string/title_activity_social"
            android:parentActivityName="edu.upc.eetac.dsa.dsaqt1314g4.netsound.HomeActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="edu.upc.eetac.dsa.dsaqt1314g4.netsound.HomeActivity" />
        </activity>
    </application>

</manifest>
